<footer class="bg-warning text-dark mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-3 d-flex justify-content-center">
        <div>
          <h5 class="fw-bold">Informações de Contato</h5>
          <address>
            <p>
              <i class="fas fa-envelope"></i> E-mail: <a href="mailto:andaemc@gmail.com">andaemc@gmail.com</a>
            </p>
          </address>
        </div>
      </div>
      <div class="col-md-6 mt-3 d-flex justify-content-center">
        <div>
          <h5 class="fw-bold">Redes Sociais</h5>
          <ul class="list-unstyled">
            <li>
              <i class="fab fa-linkedin"></i> 
              <a href="https://www.linkedin.com/in/amanda-marques-furtado/" target="_blank"> AmandaMarques</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 mt-5 text-center">
        <p>&copy; Desenvolvido por Amanda Marques</p>
      </div>
    </div>
  </div>
</footer>
